# Python
*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
lacli/cover

# vim files 
.vimrc_local
tags
spell.*
*.swp

# robohydra
node_modules
robohydra.log
robohydra/plugins/longaccessmock/tokens.js

#pyinstall
pyinstall/install.sh
pyinstall/*.tar.bz2
pyinstall/*.exe
pyinstall/upload.sh

# eclipse, pydev, etc
.project
.pydevproject

gen-csharp
gen-py

Thumbs.db

# release version
lacli/version.py

# certificate files
longaccess-*-*.html
longaccess-*-*.yaml
