include *.conf
include *.md
include *.txt
include LICENSE
include NOTICE
recursive-include docs *.md
recursive-include features *.feature
recursive-include features *.py
recursive-include lacli/t/data *.adf
recursive-include lacli/t/data *.crypt
recursive-include lacli/t/data *.html
recursive-include lacli *.py
recursive-include lacli *.qml
recursive-include lacli *.qrc
recursive-include lacli *.rst
recursive-include pyinstall *.dist
recursive-include pyinstall *.nsis
recursive-include pyinstall *.pem
recursive-include pyinstall *.ps1
recursive-include pyinstall *.py
recursive-include pyinstall *.sh
recursive-include pyinstall *.spec
recursive-include robohydra *.dist
recursive-include robohydra index.js
recursive-include scripts *.sh
recursive-include scripts *.py
