-i https://pypi.longaccess.io/simple
boto==2.26.1
cffi==0.8.1
crochet==1.2.0
cryptography==0.2.2
docopt==0.6.1
filechunkio==1.5
logutils==0.3.3
progressbar==2.3
pyaml==13.12.0
pycparser==2.10
pycrypto==2.6.1
pyOpenSSL==0.14
python-dateutil==2.2
PyYAML==3.10
requests==2.20.0
six==1.5.2
thrift==0.9.1
treq==0.2.1
Twisted==13.2.0
zope.interface==4.1.0
-e git+git@github.com:kouk/longaccess-core.git@be4fd1514aa884751863a2719b654968b994472e#egg=lacore-develop
blessed==1.8.3
psutil==2.1.0
