behave==1.2.3
extras==0.0.3
nose==1.3.0
parse==1.6.2
python-mimeparse==0.1.4
testtools==0.9.32
wsgiref==0.1.2
pexpect==2.4
requests==2.0.0
grip==1.2.0
-e git+https://github.com/gabrielfalcao/HTTPretty.git@261b275ad7cad770adebcc6a44fdc17cc2f5c63c#egg=httpretty-master
-e git+https://github.com/kouk/moto.git#egg=moto
mock==1.0.1
